@use '../../Sass/LargeButton.scss';

.navbar {
  width: 100%;
  position: fixed;
  z-index: 10;
  transition: all 0.5s ease;
  padding: 1em;
}

@media screen and (max-width: 600px) {
  #register-btn {
    display: none;
  }
}
