.profile-page {
  display: grid;
  place-items: center;
  text-align: start;
  padding: 5em 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
    margin: 0;
  }

  // h4 {
  //   margin-top: 0.5em;
  // }

  .profile-header {
    text-align: center;
  }

  .profile-content {
    width: 65vw;
  }
}
@media screen and (max-width: 600px) {
  .profile-page {
    .profile-content {
      width: 90vw;
    }
  }
}
