$primary-color: #e27625;
$primary-color-light: #f5841f;
$bg-color-dark: #1e1e1e;
$bg-color-light: #eaeaea;
$div-bg-color-light: #d0d0d0;
$div-bg-color-dark: #303030;
$text-color-dark: rgb(30, 30, 30);
$text-color-light: rgb(220, 220, 220);
$text-color-disabled: rgb(120, 120, 120);
$theme-color: #d1b97d;
